<%= div_for profile do %>
    <p>
      <b>Full Name:</b>
      <%= profile.first_name %> <%= profile.last_name %>
    </p>
    <p>
      <b>Email Address:</b>
      <%= profile.email %>
    </p>
    <br />
    <br />

    <h3>Roles</h3>
    <div id='roles'>
      <%= render profile.roles %>
    </div>
<% end %>