<h1>Listing applications
    <span class='actions'>
       <% if user_signed_in? %>
          <%= link_to 'New', new_application_path, :id => 'new_version_link' %>
       <% end  %>
    </span>
</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Latest Version</th>
    <th>Comment</th>
    <% if user_signed_in? %>
        <th>Actions</th>
    <% end %>
  </tr>

<% @applications.each do |application| %>
  <% latest_version = application.versions.first %>
  <tr>
    <td><%= link_to application.name, application %></td>
    <% if latest_version != nil %>
        <td><%= link_to latest_version.number, latest_version %></td>
    <% else %>
        <td><%= t('version.unavailable') %></td>
    <% end %>
    <td><%= application.comment %></td>
    <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_application_path(application) %> <%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
