<h1><%= @application.name %></h1>

<div class="show_form">
    <b>Guid:</b>
    <%= @application.guid %>
    <br />
    <b>Comment:</b>
    <%= @application.comment %>
    <br />
    <b>Created On:</b>
    <%= @application.created_at.strftime("%m/%d/%Y %I:%M:%S %p") %>
    <br />
    <br />
    <h3><%= t('versions.versions') %>:
        <span class='actions'>
           <% if user_signed_in? %>
              <%= link_to 'New', new_application_version_path(@application, :format => :js),
                    :remote => true, :id => 'new_version_link' %>
           <% end  %>
        </span>
    </h3>
    <div class="change_logs">
        <table>
            <tr>
                <th><%= t('versions.version') %></th>
                <th><%= t('versions.download') %></th>
                <th><%= t('versions.date') %></th>
                <% if user_signed_in? %>
                    <th><%= t('general.actions') %></th>
                <% end  %>
            </tr>
            <%= render @application.versions %>
        </table>
  </div>
</div>
<br />
<br />

<% if user_signed_in? %>
<%= link_to 'Edit', edit_application_path(@application) %> |
<% end  %>
<%= link_to 'Back', applications_path %>
