<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @application.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @application.comment %>
</p>

<p>
  <b>Guid:</b>
  <%= @application.guid %>
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
