<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @application.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @application.comment %>
</p>

<p>
  <b>Guid:</b>
  <%= @application.guid %>
</p>
<br />
<br />

<h3>Versions</h3>
<div id="comments">
  <%= render @application.versions %>
  <br />
  <br />
  <br />
</div>


<h4>Create New Version</h4>
<%= render :file => 'versions/new' %>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
