<tr id="version_<%= version.id%>">
    <td><%= link_to version.number.to_s, version %></td>
    <td>
      <% if version.download_url.empty?%>
      <%= "Unavailable" %>
      <%else %>
      <%= link_to version.download_type, version.download_url %> <%= "(#{version.download_size})" %>
      <% end %>
    </td>
    <td><%= version.created_at %></td>
    <td>
      <% if user_signed_in? %>
          <%= link_to 'Delete', [@application, version], :confirm => 'Are you sure?',
                      :method => :delete, :remote => true %>
      <% end %>
    </td>
<tr>