<h1><%= link_to @version.application.name, @version.application%></h1>

<div id="show_form">
    <b>Version:</b>
    <%= @version.number %>
    <br />
    <b>Comment:</b>
    <%= @version.comment %>
    <br />
    <b>Download URL:</b>
    <%= link_to @version.url, @version.url %>
    <br />
    <br />
    <b>Change Log:</b>
    <%= change_log_to_html @version %>
</div>
<br />
<br />

<% if user_signed_in? %>
    <%= link_to 'Edit', edit_version_path(@version) %> |
<% end %>
<%= link_to 'Back', @version.application %>
