<div class="control-group">
  <%= f.label :username, t('users.username'), :class => 'control-label' %>
  <div class="input">
    <%= f.text_field :username, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
   <%= f.label :email, t('users.email'), :class => 'control-label' %>
  <div class="input">
    <%= f.text_field :email, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
   <%= f.label :password, t('users.password'), :class => 'control-label' %>
  <div class="input">
    <%= f.password_field :password, :class => 'password_field' %>
  </div>
</div>
<div class="control-group">
   <%= f.label :Password, t('users.password_confirmation'), :class => 'control-label' %>
  <div class="input">
    <%= f.password_field :password_confirmation, :class => 'password_field' %>
  </div>
</div>

<% for role in Role.all %>
  <div class ="control-group">
   <%= f.label role.name , :class => 'control-label' %>
      <div class="controls">
        <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %> 
      </div> 
  </div>
<% end %>


<div class="control-group">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", admin_users_path %>
</div>
