<!DOCTYPE html>
<html>
<head>
  <title><%= t('versions.versions') %></title>
  <%= stylesheet_link_tag    t('applications.application'), :media => 'all' %>
  <%= javascript_include_tag t('applications.application') %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='header'>
  <h1><%= link_to t('versions.versions'), root_path %></h1>
  <span id='header_menu'>
    <%= render 'applications/menu_items' %>
    <%= render 'admin/menu_items' %>
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </span>
</div>
<div id='main'>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
<div id='footer'>
  <%= t('layouts.footer') %>
</div>
</body>
</html>
